@sponsor-color: rgb(87, 106, 149);
@handler-color: rgb(251, 96, 45);
@approver-color: rgb(255, 148, 62);
@copyer-color: rgb(50, 150, 250);
@router-color: rgb(21, 188, 131);

.h40 {
  height: 40px;
  line-height: 40px;
}
